[bumpversion]
current_version = 0.2.2
tag = True
commit = True

[bumpversion:file:setup.py]
search = version="{current_version}"
replace = version="{new_version}"

[bumpversion:file:src/greynoise/api.py]
search = CLIENT_VERSION = "{current_version}"
replace = CLIENT_VERSION = "{new_version}"

[bumpversion:file:docs/source/conf.py]
search = release = "{current_version}"
replace = release = "{new_version}"

[bumpversion:file:CHANGELOG.rst]
search = **Date**: unreleased
replace = **Date**: {now:%B %d, %Y}
