Babel==2.6.0
ConfigParser==3.7.4
Jinja2==2.10
MarkupSafe==1.1.0
Pygments==2.2.0
Sphinx==1.8.1
alabaster==0.7.12
certifi==2018.10.15
chardet==3.0.4
dict2xml==1.6
docutils==0.14
flake8==3.7.8
idna==2.7
imagesize==1.1.0
packaging==18.0
pyparsing==2.3.0
pytest==5.0.1
pytz==2018.7
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.4.2
sphinxcontrib-websupport==1.1.0
urllib3==1.24.1
