{% import "macros.txt.j2" as macros %}

{% for actor in actors %}
{{ macros.result_header(loop) }}
Name: {{ actor.name }}
IPs:
{%- call(ip) macros.verbose_list(actor.ips, verbose) -%}
- {{ ip }}
{% endcall -%}
{% endfor %}
