{% import "macros.txt.j2" as macros %}
{% for result in results -%}
{{ macros.query_header(loop) -}}
Query: {{ result.query }}
{%- if result.data %}
{%- for ip_context in result.data %}
{{ macros.result_header(loop) }}
{%- include "ip_context.txt.j2" %}
{%- endfor %}
{% else %}
No results found for this query.
{% endif %}
{% endfor %}
