{% import "macros.txt.j2" as macros %}

{%- if gnql_stats.stats.actors %}
<header>Actors<header>:
{{- macros.column_list(gnql_stats.stats.actors, "actor") }}
{%- endif %}

{%- if gnql_stats.stats.asns %}
<header>ASNs</header>:
{{- macros.column_list(gnql_stats.stats.asns, "asn") }}
{%- endif %}

{%- if gnql_stats.stats.categories %}
<header>Categories</header>:
{{- macros.column_list(gnql_stats.stats.categories, "category") }}
{%- endif %}

{%- if gnql_stats.stats.classifications %}
<header>Classifications</header>:
{{- macros.column_list(gnql_stats.stats.classifications, "classification") }}
{%- endif %}

{%- if gnql_stats.stats.countries %}
<header>Countries</header>:
{{- macros.column_list(gnql_stats.stats.countries, "country") }}
{%- endif %}

{%- if gnql_stats.stats.operating_systems %}
<header>Operating systems</header>:
{{- macros.column_list(gnql_stats.stats.operating_systems, "operating_system") }}
{%- endif %}

{%- if gnql_stats.stats.organizations %}
<header>Organizations</header>:
{{- macros.column_list(gnql_stats.stats.organizations, "organization") }}
{%- endif %}

{%- if gnql_stats.stats.tags %}
<header>Tags</header>:
{{- macros.column_list(gnql_stats.stats.tags, "tag") }}
{%- endif %}
