{% import "macros.txt.j2" as macros %}

{%- if gnql_stats.stats.actors %}
Actors:
{{- macros.column_list(gnql_stats.stats.actors, "actor") }}
{%- endif %}

{%- if gnql_stats.stats.asns %}
ASNs:
{{- macros.column_list(gnql_stats.stats.asns, "asn") }}
{%- endif %}

{%- if gnql_stats.stats.categories %}
Categories:
{{- macros.column_list(gnql_stats.stats.categories, "category") }}
{%- endif %}

{%- if gnql_stats.stats.classifications %}
Classifications:
{{- macros.column_list(gnql_stats.stats.classifications, "classification") }}
{%- endif %}

{%- if gnql_stats.stats.countries %}
Countries:
{{- macros.column_list(gnql_stats.stats.countries, "country") }}
{%- endif %}

{%- if gnql_stats.stats.operating_systems %}
Operating systems:
{{- macros.column_list(gnql_stats.stats.operating_systems, "operating_system") }}
{%- endif %}

{%- if gnql_stats.stats.organizations %}
Organizations:
{{- macros.column_list(gnql_stats.stats.organizations, "organization") }}
{%- endif %}

{%- if gnql_stats.stats.tags %}
Tags:
{{- macros.column_list(gnql_stats.stats.tags, "tag") }}
{%- endif %}
