# Render header based on loop index and length
{% macro header(loop) %}
╔═══════════════════════════╗
║ <header>{{ "{:^25}".format("{} {} of {}".format(caller(), loop.index, loop.length)) }}</header> ║
╚═══════════════════════════╝
{% endmacro %}

# Render result header based on loop index and length
{% macro result_header(loop) %}
┌───────────────────────────┐
│ {{ "{:^25}".format("Result {} of {}".format(loop.index, loop.length)) }} │
└───────────────────────────┘
{% endmacro %}

# Render all elements of a list when verbose=True
# Otherwise, render first 20 elements and a message to remind user about verbose flag
{% macro verbose_list(elements, verbose) %}
{% for element in elements[:20 if not verbose else None] -%}
{{ caller(element) }}
{%- endfor -%}
{% if elements | length > 20 and not verbose -%}
Showing results 1 - 20. Run again with -v for full output.
{% endif -%}
{% endmacro %}

# Render tuples of element names and counts properly aligned
# Width is based on the longest element in the list for each column
# Also render follow same rules as "verbose_list" to render long lists
{% macro column_verbose_list(elements, field_name, verbose) %}
{%- set left_width = elements | map(attribute=field_name) | map('length') | max %}
{%- set right_width = elements | map(attribute='count') | map('string') | map('length') | max %}
{%- for element in elements[:20 if not verbose else None] %}
- <key>{{ "%-*s" | format(left_width, element[field_name]) }}</key> <value>{{ "%*s" | format(right_width, element.count) }}</value>
{%- endfor %}
{% if elements | length > 20 and not verbose -%}
Showing results 1 - 20. Run again with -v for full output.
{% endif -%}
{% endmacro %}

# Render classification with proper color
{% macro classification(value) %}
{%- if value == "benign" -%}
<benign>{{ value }}</benign>
{%- elif value == "unknown" -%}
<unknown>{{ value }}</unknown>
{%- elif value == "malicious" -%}
<malicious>{{ value }}</malicious>
{%- else -%}
<value>{{ value }}</value>
{%- endif -%}
{% endmacro %}
