{% import "macros.txt.j2" as macros with context %}

--------------------
<header>Sensor Activity Feed</header>
--------------------
<key>
{{ '%-25s' | format('Start Time') -}}
{{ '%-25s' | format('Stop Time ') -}}
{{ '%-22s' | format('Dest IP:Port ') -}}
{{ '%-22s' | format('Source IP:Port ') -}}
{{ '%-12s' | format('Protocol(s)') -}}
{{ '%-35s' | format('HTTP URI') }}
</key>
{%- for result in results %}
{{ '%-25s' | format(result.start_time.replace("T", " ").replace("Z", "")) -}}
{{ '%-25s' | format(result.stop_time.replace("T", " ").replace("Z", "")) -}}
{{ '%-22s' | format(result.destination_ip + ":" + result.destination_port|string) -}}
{{ '%-22s' | format(result.source_ip + ":" + result.source_port|string) -}}
{{ '%-12s' | format(result.protocols|join(', ')) -}}
{{ '%-35s' | format(result.http_uri) }}
{%- endfor %}
