{% import "macros.txt.j2" as macros with context %}
{% for ip_context in results -%}
{% if ip_context.ip %}

          <header>IP Timeline - Single Attribute</header>
          ------------------------------
<key>IP</key>: <value>{{ ip_context.metadata.ip }}</value>
<key>Field</key>: <value>{{ ip_context.metadata.field }}</value>
<key>Start</key>: <value>{{ ip_context.metadata.start }}</value>
<key>End</key>: <value>{{ ip_context.metadata.end }}</value>
<key>Granularity</key>: <value>{{ ip_context.metadata.granularity }}</value>

          <header>Timeline</header>
          --------
<key>{{ '%-25s' | format('Timestamp') }}</key><key>{{ '%-15s' | format('Event Count') }}</key><key>{{ '%-15s' | format('Label') }}</key>
{%- for item in ip_context.results %}
{{ '%-25s' | format(item.timestamp) }}{{ '%-15s' | format(item.data) }}{{ '%-15s' | format(item.label) }}
{%- endfor %}

{% endif %}
{% endfor %}
